In [7]:
import pandas as pd

'2.0.3'

In [10]:
df= pd.read_parquet("yellow_tripdata_2023-01.parquet")

In [16]:

from sqlalchemy import create_engine
engine= create_engine("postgresql://root:root@localhost:5432/nytaxi")

print(pd.io.sql.get_schema(df,name="yello_taxi_data",con=engine))

CREATE TABLE yello_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [19]:
df.head(n=0)
len(df)

3066766

In [21]:
df.to_sql(name="yellow_taxi_data",con=engine,if_exists="append")

766

In [22]:
%time df.to_sql(name="yellow_taxi_data",con=engine,if_exists="append")

CPU times: user 2min 16s, sys: 1.24 s, total: 2min 17s
Wall time: 3min 45s

766